node_modules/
.env
dist/
.vscode/
.idea/
*.log
/Grokking-the-system-design-interviewpdf-5-pdf-free (1).pdf
/System Design Interview by Alex Xu.pdf
/styles.css
/app.js
/lessons_data.js
*.png
*.jpg
*.jpeg
